<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>FaceID</title>
    {% endif %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{url_for('main.index')}}">FaceID</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.index')}}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.add_face')}}">Add
                    Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.check_people')}}">Check
                    People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.people_list')}}">All
                    People</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock navbar %}
{% block content %}
<div class="mt-2 container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock app_content%}
    {% block footer %}
    <!-- Footer -->
    <div class="mt-5">
        <footer class="page-footer fixed-bottom font-small dark">
            <div class="p-3 bg-transparent text-center text-dark">© 2020
                Copyright:AK
            </div>
        </footer>
    </div>
    <!-- Footer -->
    {% endblock footer %}
</div>
{% endblock content %}
</body>
</html>

