{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="m-5 text-center">
 {% for name in names.items %}
          <h1 class="text-info border rounded border-primary">{{name}}</h1>
    {% endfor %}
</div>
<div class="m-5 text-center">
{% for page_num in names.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if names.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.people_list', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.people_list', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
</div>
{% endblock app_content%}